In [1]:
from sympy import symbols
import numpy as np

In [2]:
a11, a12, a21, a22 = symbols('a11, a12, a21, a22')

In [4]:
m2 = np.array([[a11, a12], [a21, a22]])
m2

array([[a11, a12],
       [a21, a22]], dtype=object)

---
Now in 3-D:

In [5]:
b11, b12, b13, b21, b22, b23, b31, b32, b33  = symbols('b11, b12, b13, b21, b22, b23, b31, b32, b33')

In [6]:
m3 = np.array([[b11, b12, b13], [b21, b22, b23], [b31, b32, b33]])
m3

array([[b11, b12, b13],
       [b21, b22, b23],
       [b31, b32, b33]], dtype=object)

We the assume the following:

$
b11 + b12 + b13  \\
= b21 + b22 + b23 \\
= b31 + b32 + b33 \\
= b11 + b21 + b31 \\
= b12 + b22 + b32 \\
= b13 + b23 + b33 \\
= b11 + b22 + b33 \\
= b13 + b23 + b31
$

In [8]:
4**4

256

In [10]:
M = np.array([[1, 2, 3], [5, 7, 11], [13, 17, 19]])
M

array([[ 1,  2,  3],
       [ 5,  7, 11],
       [13, 17, 19]])

In [13]:
M.prod()

9699690

In [15]:
M2 = np.array([[2, 3], [5, 7], [11, 13]])
print(M2, M2.prod())

[[ 2  3]
 [ 5  7]
 [11 13]] 30030

In [16]:
from math import factorial

In [18]:
factorial(6)

720

In [1]:
31415**2

986902225

In [2]:
!factor 986902225

986902225: 5 5 61 61 103 103

$
a_n * 10^n + a_{n-1} * 10^{n-1} + \cdots + a_0
$

In [24]:
from math import sqrt, floor

In [11]:
sqrt(314.15)

17.72427713617681

In [20]:
(177.243 * sqrt(10))**2

314150.81049000006

In [19]:
177243**2

31415081049

In [26]:
floor(177_243*sqrt(10))

560491

---

In [27]:
sqrt(27_182)

164.86964547787443

In [28]:
164.87**2

27182.1169

In [29]:
for i in range(1, 101):
    if i % 5 == 4: print(i)

4
9
14
19
24
29
34
39
44
49
54
59
64
69
74
79
84
89
94
99

In [37]:
7 * 11

77

In [40]:
print(
    77 % 3, \
    77 % 4, \
    77 % 5
)

2 1 2

In [43]:
for m1 in range(3, 25):
    for m2 in range(1, 20):
        if 4*m1 - 5*m2 == 1:
            print((4*m1 + 1) / 3,  m1, m2, ' : ', 4*m1 + 3, 5*m2 + 4)

5.666666666666667 4 3  :  19 19
12.333333333333334 9 7  :  39 39
19.0 14 11  :  59 59
25.666666666666668 19 15  :  79 79
32.333333333333336 24 19  :  99 99

In [9]:
!pip3 install --user sympy numpy pandas scipy

Collecting sympy
  Using cached sympy-1.8-py3-none-any.whl (6.1 MB)
Collecting numpy
  Downloading numpy-1.21.2-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.8 MB)
     |████████████████████████████████| 15.8 MB 1.7 MB/s
Collecting pandas
  Downloading pandas-1.3.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.5 MB)
     |████████████████████████████████| 11.5 MB 1.5 MB/s
Collecting scipy
  Downloading scipy-1.7.1-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5 MB)
     |████████████████████████████████| 28.5 MB 1.7 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /home/logician/.local/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting mpmath>=0.19
  Using cached mpmath-1.2.1-py3-none-any.whl (532 kB)
Installing collected packages: numpy, mpmath, sympy, scipy, pandas
Successfully installed mpmath-1.2.1 numpy-1.21.2 pandas-1.3.2 scipy-1.7.1 sympy-1.8

In [33]:
from sympy import *
init_printing(use_unicode=True)

In [11]:
x = symbols('x')

In [31]:
for n in range(10**4):
    if n % 13 == 0 and n % 100 == 15:
        print(n)

715
2015
3315
4615
5915
7215
8515
9815

---

Find a two-digit number that becomes 7 times smaller when it's first digit is removed!

In [32]:
# Define a and b to represent the first and second digits of the number 
# required to be found, respectively:
a, b = symbols('a b')

Then we notice that:
$
10 a + b = 7 b \implies \\
10 a = 6 b \implies \\
5 a = 3 b
$

Thus, we need to find two digits $a$ and $b$ that satisify the last equation. This is easy to find!

Now, let $a = 3$ and $b = 5$, then the required number is $10 \times 3 + 5 = 35$, which satisfies
the criteria.

In [28]:
n = 1
while True:
   if n == 57 * int("{:02d}".format(n)[1
      print(n) 
   n += 1

7125
71250
712500
7125000
71250000

KeyboardInterrupt:

In [26]:
print(
    "{:02d}".format(1)
)

01